html,
body {
    height: 100%;
    background-color: #abdde5;
}
.basic h1 {
    color: white;
    text-align: center;
}
.basic p {
    font-family: verdana;
    font-size: 20px;
}
.heading h1
{
    background-color: #0056b3;
    color: white;
    font-size: 16px;
}
.heading h2
{
    background-color: #20c997;
    color: white;
    font-size: 16px;
}
.heading h3
{
    background-color: #0069d9;
    color: white;
    font-size: 16px;
}
.heading h4
{
    background-color: #0056b3;
    color: white;
    font-size: 16px;
}
.heading h5{
    background-color: #20c997;
    color: white;
    font-size: 16px;
}
.heading h6{
    background-color: #20c997;
    color: white;
    font-size: 16px;
}
.border1 h1 {
   border-color: #20c997; 
   font-size: 24px;
}
.border1 #head2
{
   border-color: green; 
   font-size: 24px;
}
.border1 #head3
{
   border-color: blue; 
   font-size: 24px;
}

