/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2018, 12:30:45 PM
    Author     : dell
*/
body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    padding-top: 70px;
}
.img-block {
    height: 170px;
    width: 100%;
    background-size: cover;
}
.aler_row
{
    margin: auto;
}
.table>thead>tr
{
    background-color: #33F;
}
.table>tbody>tr:nth-child(even)
{
    background-color: lightyellow;
}
.table>tbody>tr:hover{
    background-color:  yellow;
}