/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2018, 10:14:34 AM
    Author     : Anurag
*/

mark {
    background-color: #000;
    color: #FFF;
}

abbr[data-original-title], abbr[title] {
    cursor: pointer;
    border-bottom: 1px dashed green;
    text-decoration: none;
}

blockquote .small, blockquote footer, blockquote small{
    text-align: right;
    color: gold;
}

.table-hover>tbody>tr:hover {
    background-color: orange;
    color: #FFF;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: yellow;
}

.box-example-item {
    border: 1px solid #EEE;
    background: #f9f9f9;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

.box-pop-up {
    position: absolute;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px #00000040;
    top: 5px;
    right: 5px;
    display: none;
}
.box-example-item.open .box-pop-up{
    display: block;
}
.box-pop-up ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.box-pop-up ul li a {
    padding: 7px 15px;
    display: inline-block;
}

.box-pop-up ul li a:hover {
    background: #EEE;
    text-decoration: none;
}